@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 33.33% 98.82%;
    --foreground: 212 17.24% 17.06%;
    --card: 270 33.33% 98.82%;
    --card-foreground: 212 17.24% 17.06%;
    --popover: 270 33.33% 98.82%;
    --popover-foreground: 212 17.24% 17.06%;
    --primary: 156.34 100% 34.31%;
    --primary-foreground: 156.34 42.11% 87.39%;
    --secondary: 36.77 74.16% 59.02%;
    --secondary-foreground: 50.72 75.91% 74.01%;
    --muted: 217.5 28.57% 94.51%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 156.34 100% 34.31%;
    --radius: 0.75rem;
    --chart-1: 142.2 68.5% 38.6%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 225 10.81% 14.51%;
    --foreground: 0 0% 95%;
    --card: 222.86 16.28% 16.86%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.2 68.5% 38.6%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 36.6 61.9% 46.3%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222.86 16.28% 16.86%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 225.9 15.3% 21.8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    /* --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground h-full;
  }
}

@font-face {
  font-family: "uthmanic";
  src: url("/fonts/uthmanic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
